@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #272323;
	--glitcher-pink: #fec3e9;
	--glitcher-red: #cc2323;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #ededed;
		--foreground: #272323;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
}



h2 {
	font-size: clamp(3.24rem, 3.67vi + 2.33rem, 5.26rem);
  line-height: 1;
  font-weight: 600;
}

button {
  font-size: clamp(1.06rem, 0.34vi + 0.98rem, 1.25rem);
  font-weight: 500;
}

p {
  font-size: clamp(1.06rem, 0.34vi + 0.98rem, 1.25rem);
  font-weight: 400;
}
